h
d]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.pyc

#misc ros stuff
!__init__.py
*.wpr
*.wpu
srv_gen/
msg_gen/
.idea/
*ropeproject*
*.swp
_*
